<h3><i class="fa fa-tools"></i>Herramientas</h3>
      <div class="content linklist">
        
            <p class="first"><a href="/el-ceibita/Opiniones__Sci6Bita.html">Opiniones Sci6Bita</a></p>
            <p><a href="/el-ceibita">Trencito markdown</a></p>
            <p><a href="#">Subidor de videos (script Youtube)</a></p>
            <p><a href="#">Transcriptor de subtitulos (script Youtube)</a></p>
            <p><a href="#">Constructor de videos (script ffmpeg)</a></p>
            <p><a href="#">CA Peñarol (sitio de noticias)</a></p>
            <p><a href="#">Peña Europa del Norte</a></p>
      </div>

<!-- ================================================================================================= -->
<!-- menu vertical fin ---------------------------------------------------------------------------------->
<!-- ================================================================================================= -->
